
<h3>Figures </h3>

  <label>Figure name: </label><%= @figure.name %><br><br>

  
  <%@figure.titles.each do |title|%> 
  <label>Title name: </label><%=title.name%><br><br>
  <%end%>
  
  <%@figure.landmarks.each do |landmark|%> 
  <label>Landmark name: </label><%=landmark.name%><br><br>
  <%end%>


<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<br>
<a class="button" href="/figures">Figures</a>